<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="", method="post">
        <input type="text", name = "nome", placeholder="Insira um nome">
        <input type="email", name = "email", placeholder="Insira um email">
        <input type="password", name = "senha", placeholder="*********">
        <input type="submit", value = "Cadastrar">
    </form>
</body>
</html>